/*
  Yellow #FAEE36
  Black #0A0901
  Cyan #4FCFFB
  Red #8F1130

  Yellow-background #F8F3C2
  Box-shadow-glow #B23554
  Invalid-email #D1637E
*/

* {
 box-sizing: border-box;
}

body {
  background: #ECF6F9;
  font-size: 16px;
}

p, label {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85em;
  color: #211e03;
  line-height: 1.8em;
}

h1, h2, h3, h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #0A0901;
}

h1 {
  font-size: 1.926em;
}

h2 {
 font-size: 1.5em;
}



/* ========== HEADER SECTION (mobile) ========== */
header {
  text-align: center;
}
.header-top-banner {
  display: inline-block;
  width: 100%;
  height: 80px;
  background: #0A0901;
  text-transform: uppercase;
}

.header-top-banner h1 {
  color: #ECF6F9;
}

.header-intro {
  width: 95%;
  margin: 40px auto;
}

.border-thick,
.border-thin {
  width: 95%;
  margin: 0 auto;
}
.border-thick {
  border-bottom: 4px solid #0A0901;
}

.border-thin {
  margin-top: 4px;
  border-bottom: 2px solid #0A0901;
}

/* ========== WRAPPER (mobile / display) ========== */
.wrap {
  min-height: calc(100vh - 22px);
}

/* ========== CONTACT INFORMATION (mobile) ========== */
.review-input {
  margin: 0 auto;
}

.review-input h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.review-input,
fieldset,
.thank-you-section {
  max-width: 450px;
}

fieldset {
  position: relative;
  padding: 30px;
  margin: 0 10px 1em;
  border-radius: 3px;
  border: 0;
  background: #4FCFFB;
}

legend {
  position: relative;
  top: -10px;
  font-size: .85em;
  font-style: italic;
  color: #666666;
}

.fieldset-icons {
  position: absolute;
  right: 20px;
  top: -45px;
  transition: .7s;
  z-index: -1;
}

label,
input,
select,
textarea {
  display: block;
}

input:focus,
textarea:focus,
select:focus{
  outline: none;
  box-shadow: 0px 0px 4px 3px #B23554;
}

input:focus,
textarea:focus {
  background: #F8F3C2;
  transition: .5s;
}

input,
textarea {
  transition: .5s;
}


label {
  margin-bottom: 5px;
}

input {
  padding-left: 10px;
}

input,
textarea,
select {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 0px;
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
}

input[type="email"]:invalid {
  background-color: #D1637E;
  color: white;
}

.help {
    display:none;
    font-size:.75em;
    font-style: italic;
    color: #666666;
    margin-top: -15px;
    text-align: right;
}

input:focus + .help {
    display: block;
    transition: 1s;
}

:placeholder-shown {
  background: #FAEE36;
}

::-webkit-input-placeholder {
  text-align: right;
  font-style: italic;
  padding-right: 10px;
}

::-moz-placeholder {
  text-align: right;
  font-style: italic;
  padding-right: 10px;
}

:-ms-input-placeholder {
  text-align: right;
  font-style: italic;
  padding-right: 10px;
}

.required:after {
  content: ' *';
  display:inline;
  color: #e32;
}

option:first-child {
  font-size: 0.85em;
  font-style: italic;
}

textarea {
  height: 150px;
}

.newsletter {
  text-align: center;
  padding: 2px 5px;
  margin-bottom: 20px;
  background: #c2eefe;
  border-radius: 5px;
}

.newsletter:last-of-type {
  margin-top: 40px;
}

.newsletter-input,
.newsletter-label {
  display: inline-block;
}

.newsletter-input {
  width: 20px;
  margin-bottom: 0;
}

.newsletter-label {
  vertical-align: top;
  margin-top: 8px;
}

label[for="topics"] {
  margin-top: 20px;
}

/* ========== SUBMIT BUTTON (mobile / display) ========== */

button {
  display: block;
  width: 95%;
  margin: 40px auto;
  padding: 20px;
  background: #B23554;
  color: #ECF6F9;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* ========== THANK YOU (mobile / display) ========== */
.thank-you-section {
  position: relative;
  margin: 80px auto;
  text-align: center;
}

.thank-you-section img {
  position: relative;
  display: inline-block;
  margin-top: 2em;
  margin-right: 1em;
}

.thank-you-section img:last-child {
  margin-right: 0;
}


/* ========== FOOTER (mobile / display) ========== */
footer p {
  font-size: .75em;
  font-style: italic;
  text-align: center;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1em;
  }

  h1 {
    font-size: 6.854em;
  }

  h2 {
   font-size: 2.236em;
  }

  h3 {
    font-size: 2.618em;
  }

  h4 {
    font-size: 1.618em;
  }

/* ========== HEADER SECTION (display)========== */
  .header-top-banner h1 {
    font-size: 1.926em;
  }

  .header-intro h2 {
    font-size: 3.236em;
    margin-bottom: 0;
  }

  /* ========== CONTACT INFORMATION (mobile) ========== */
  label {
    width: 150px;
  }

  input,
  select {
    max-width: 415px;
    margin-left: 40px;
  }

  label,
  input,
  textarea,
  select {
    display: inline-block;
  }

  input#zip {
    width: 126px;
    margin-right: 136px;
  }

  .review-input,
  fieldset {
    max-width: 690px;
  }

  legend {
    font-size: 1em;
  }

  .fieldset-icons {
    right: -35px;
    top: -35px;
  }

  .review-input h2 {
    margin-left: 39px;
    text-align: left;
  }

  label[for="topics"] {
    width: 240px;
  }

  select#project {
    margin-top: 20px;
  }

  button {
    width: 97%;
  }
}
