/*
  Yellow #FAEE36
  Black #0A0901
  Cyan #4FCFFB
  Red #8F1130

  Yellow-background #FCFAE5
*/

* {
 box-sizing: border-box;
}

body {
  background: #ECF6F9;
  font-size: 16px;
}

p, label {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  color: #211e03;
  line-height: 1.8em;
}

h1, h2, h3, h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #0A0901;
}

h1 {
  font-size: 1.926em;
}

h2 {
 font-size: 1.5em;
}



/* ========== HEADER SECTION ========== */
header {
  text-align: center;
}
.header-top-banner {
  display: inline-block;
  width: 100%;
  height: 80px;
  background: #0A0901;
  text-transform: uppercase;
}

.header-top-banner h1 {
  color: #ECF6F9;
}

.header-intro {
  width: 95%;
  margin: 40px auto;
}

.border-thick,
.border-thin {
  width: 95%;
  margin: 0 auto;
}
.border-thick {
  border-bottom: 4px solid #0A0901;
}

.border-thin {
  margin-top: 4px;
  border-bottom: 2px solid #0A0901;
}

/* ========== CONTACT INFORMATION ========== */
.review-input {
  max-width: 450px;
  margin: 0 auto;
}

fieldset {
  padding: 30px;
  margin: 0 10px;
  border-radius: 3px;
  border: 0;
  background: #4FCFFB;
  max-width: 450px;
}

label,
input,
select,
textarea {
  display: block;
}

input:focus,
textarea:focus,
select:focus{
  outline: none;
}

label {
  margin-bottom: 5px;
}

input, select, textarea {
  height: 40px;
  max-width: 100%;
  border-radius: 5px;
  border: 0px;
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: 0px 0px 4px 3px #B23554;
}

input[id="name"]:focus {
  content: "";
}

input[value^="Required"] {
  font-style: italic;
  background: #fcf481;
  color: gray;
}

textarea {
  height: 150px;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1em;
  }

  h1 {
    font-size: 6.854em;
  }

  h2 {
   font-size: 4.236em;
  }

  h3 {
    font-size: 2.618em;
  }

  h4 {
    font-size: 1.618em;
  }
}
